@model MvcCms.Models.Post

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Post/Shared/_PostLayout.cshtml";
}

<h2>Delete @Model.Title</h2>

@using (var form = Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete Post" />
}